<section class="home-nav">
    <div class="container">
        <div class="row">
            <div class="col titulo-header">
                <h1><span class="cl-amarillo">Cursos</span> Forge</h1>
                <p>Especializate con Forge</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5 p-4 card">
                <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Rut </label>
                        <input type="text" formControlName="rut" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.rut.errors }" />
                        <div *ngIf="submitted && f.rut.errors" class="invalid-feedback">
                            <div *ngIf="f.rut.errors.required">Por favor, ingresa tu Rut</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre </label>
                        <input type="text" formControlName="nombres" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
                        <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                            <div *ngIf="f.nombres.errors.required">Por favor, ingresa tu Nombre</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellido Paterno </label>
                        <input type="text" formControlName="apellidoPaterno" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apellidoPaterno.errors }" />
                        <div *ngIf="submitted && f.apellidoPaterno.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidoPaterno.errors.required">Por favor, ingresa tu Apellido Paterno</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellido Materno </label>
                        <input type="text" formControlName="apellidoMaterno" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apellidoMaterno.errors }" />
                        <div *ngIf="submitted && f.apellidoMaterno.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidoMaterno.errors.required">Por favor, ingresa tu Apellido Materno</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                            <div *ngIf="f.email.errors.email">Por favor, ingresa tu Email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" formControlName="contrasenha" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.contrasenha.errors }" />
                        <div *ngIf="submitted && f.contrasenha.errors" class="invalid-feedback">
                            <div *ngIf="f.contrasenha.errors.required">Por favor, ingresa contraseña minimo 4 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>